.navigation__burger_transform::before {
  transform: rotate(45deg);
  transition: all 0.3s;
  top: 19px;
}
.navigation__burger_transform::after {
  transform: rotate(-45deg);
  transition: all 0.3s;
  bottom: 18px;
}
@media all and (max-width: 400px) {
  .navigation__burger_transform::before {
    top: 11px;
  }
  .navigation__burger_transform::after {
    bottom: 10px;
  }
}
