.savedNewsHeader__text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}
@media all and (max-width: 522px) {
  .savedNewsHeader__text {
    font-size: 12px;
    line-height: 24px;
  }
}
