.newsCard__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 90px;
}
@media all and (max-width: 860px) {
  .newsCard__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
