.newsCard__image {
  width: 100%;
  min-height: 272px;
  height: 272px;
  object-fit: fill;
  margin-bottom: -4px;
}
@media all and (max-width: 860px) {
  .newsCard__image {
    min-height: 150px;
  }
}
