.preloader__image {
  margin-top: 80px;
  border-radius: 50%;
  width: 74px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
