.newsCard__source {
  margin: 0;
  margin-top: auto;
  color: #b6bcbf;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
