@import url("./__avatar/about__avatar.css");
@import url("./__container/about__container.css");
@import url("./__subtitle/about__subtitle.css");
@import url("./__title/about__title.css");
@import url("./__text/about__text.css");
.about {
  width: 100%;
  height: 624px;
  padding: 80px 14.8% 80px 10px;
  padding-right: 14.8%;
  display: flex;
  background-color: white;
  box-sizing: border-box;
}
@media all and (max-width: 860px) {
  .about {
    height: 354px;
    padding: 0;
  }
}
@media all and (max-width: 562px) {
  .about {
    height: 752px;
    flex-direction: column;
    align-items: center;
  }
}
