.searchForm__title {
  max-width: 608px;
  min-height: 128px;
  margin-top: 80px;
  color: white;
  font-family: Roboto Slab;
  font-style: regular;
  font-size: 60px;
  text-align: left;
  line-height: 64px;
}
@media all and (max-width: 860px) {
  .searchForm__title {
    max-width: 385px;
    max-height: 80px;
    min-height: auto;
    margin-top: 38px;
    font-size: 36px;
    line-height: 40px;
  }
}
@media all and (max-width: 860px) {
  .searchForm__title {
    max-width: 288px;
    margin-bottom: 16px;
    margin-top: 30px;
  }
}
