@import url("./__button/_black/navigation__button_black.css");
@import url("./__button/_white/navigation__button_white.css");
@import url("./__button/_black-border/navigation__border_black-border.css");
@import url("./__burger/navigation__burger.css");
@import url("./__burger/_transform/navigation__burger_transform.css");
@import url("./__burger/_black/navigation__burger_black.css");

.navigation {
  display: flex;
}
@media all and (max-width: 696px) {
  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a1b22;
    width: 100%;
    padding-top: 80px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}
