.footer__links {
  display: flex;
  margin-left: auto;
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 28px;
  width: 304px;
  justify-content: space-around;
}
@media all and (max-width: 860px) {
  .footer__links {
    width: 260px;
  }
}
@media all and (max-width: 645px) {
  .footer__links {
    margin: 0 auto 0 35px;
    flex-direction: column;
    align-items: baseline;
    min-height: 86px;
  }
}
@media all and (max-width: 465px) {
  .footer__links {
    margin-left: 16px;
  }
}
