@import url("./__button/searchForm__button.css");
@import url("./__form/searchForm__form.css");
@import url("./__input/searchForm__input.css");
@import url("./__subtitle/searchForm__subtitle.css");
@import url("./__title/searchForm__title.css");

.searchForm {
  max-width: 100%;
  height: 495px;
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-position: bottom;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 860px) {
  .searchForm {
    height: 334px;
    background-image: url("../../images/georgia-de-lotz--860px-unsplash.jpg");
    background-size: cover;
    background-position-y: -81px;
  }
}
@media all and (max-width: 787px) {
  .searchForm {
    background-size: auto;
    height: 319px;
  }
}
@media all and (max-width: 562px) {
  .searchForm {
    background-image: url("../../images/georgia-de-lotz-320px.jpg");
    background-size: cover;
    height: 480px;
  }
}
