.header__button {
  width: 146px;
  height: 48px;
  margin: 19px 104px 13px 2px;
  padding: 0;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 100px;
  outline: none;
  background-color: transparent;

  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.header__button:hover {
  opacity: 0.7;
  cursor: url("../../../images/Pointer.png"), pointer;
}
@media all and (max-width: 860px) {
  .header__button {
    margin: 19px 40px 13px 2px;
  }
}
@media all and (max-width: 694px) {
  .header__button {
    margin-left: 20px;
  }
}
