@import url("./__logo/header__logo.css");
@import url("./__nav-element/header__nav-element.css");
@import url("./__button/header__button.css");
@import url("./__nav/header__nav.css");
@import url("./__nav-element/_black/header__nav-element_black.css");
@import url("./__nav-element/_invisible/header__nav-element_invisible.css");
.header {
  max-width: 100%;
  height: 80px;
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-position: top;
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  border-bottom: 1px solid rgba(196, 196, 196, 0.71);
}
@media all and (max-width: 860px) {
  .header {
    background-image: url("../../images/georgia-de-lotz--860px-unsplash.jpg");
    background-size: cover;
  }
}
@media all and (max-width: 787px) {
  .header {
    background-size: auto;
  }
}
@media all and (max-width: 562px) {
  .header {
    background-image: url("../../images/georgia-de-lotz-320px.jpg");
    background-size: cover;
  }
}
@media all and (max-width: 400px) {
  .header {
    height: 56px;
  }
}
