.about__avatar {
  max-width: 464px;
  max-height: 464px;
  border-radius: 50%;
  margin-right: 58px;
  margin-left: auto;
  object-fit: cover;
}
@media all and (max-width: 860px) {
  .about__avatar {
    max-width: 232px;
    max-height: 232px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 32px;
  }
}
@media all and (max-width: 562px) {
  .about__avatar {
    max-width: 272px;
    max-height: 272px;
    margin: 32px 24px 24px 24px;
  }
}
