@import url("./__copyright/footer__copyright.css");
@import url("./__links/footer__links.css");
@import url("./__social/footer__social.css");
@import url("./__link/footer__link.css");
@import url("./__icon/footer__icon.css");
@import url("./__icon/_gh/footer__icon_gh.css");
@import url("./__icon/_vk/footer__icon_vk.css");
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
@media all and (max-width: 645px) {
  .footer {
    height: 181px;
    position: relative;
    flex-direction: column-reverse;
  }
}
