.footer__icon_vk {
  background-image: url("../../../../images/kisspng-vk-social-networking-service-yandex-search-like-bu-russia-player-5b36bc6059a9d8.2401446715303138243673.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
