.footer__social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 30px 106px 30px 41px;
  width: 67px;
  justify-content: space-between;
}
@media all and (max-width: 860px) {
  .footer__social {
    margin: 30px 41px 30px 25px;
  }
}
@media all and (max-width: 645px) {
  .footer__social {
    margin: 22px 18px 30px 25px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
